<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
</head>
<body>

<h2>Two Way Data Binding</h2>
<div ng-app ng-controller="MyCtrl">
    <input type="text" ng-model="name">
    <button ng-click="sayHi()">Toggle</button>
    <p ng-show="isVisible">Hello {{name}}!</p>
</div>

<script>
    function MyCtrl ($scope){
        $scope.name = 'SOTR';
        $scope.isVisible = false;
        $scope.sayHi = function() {
            $scope.isVisible = !$scope.isVisible;
        }
    }
</script>

</body>
</html>