<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <title>Services Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <style>
        div { border:1px solid #d0d0d0; border-radius: 5px; padding:5px; box-shadow: 5px 5px 2px #888; margin-bottom:10px; }
    </style>
</head>
<body ng-controller="MyCtrl">

<div >
    <ul ng-repeat="user in users">
        <li ng-click="show(user)">{{user.name}}</li>
    </ul>
</div>

<div>
    User: {{selectedUser.name}}, plays {{selectedUser.instrument}}
</div>



<script>
var app = angular.module("MyApp", []);
// factory creates singleton
app.factory("UserService", function ($rootScope) {
    var users = [
        {id:1, name:"John", instrument:"Guitar"},
        {id:2, name:"Paul", instrument:"Bass"},
        {id:3, name:"George", instrument:"Guitar"},
        {id:4, name:"Ringo", instrument:"Drums"}
    ];
    return {
        all: function() {
            return users;
        }
    };
});
// note dependency injection
app.controller("MyCtrl", function($scope, UserService) {
    $scope.users = UserService.all();
    $scope.show = function (user){
        // or could set in service...
        $scope.selectedUser = user;
    }

    $scope.show($scope.users[0]);
});

</script>

</body>
</html>