<!DOCTYPE html>
<html>
<head>
    <script src="js/vendor/angular.min.js"></script>
    <style>
        input {display:block}
        input.ng-invalid-required {background:lightpink;}
        input.ng-invalid-email {background:yellow}
        .ng-invalid {border:1px solid red;}
        .ng-valid {border:1px solid green;}
    </style>
    <title></title>
</head>
<body ng-app ng-controller="MyCtrl">

<form name="theForm" ng-submit="submit()">
    <input type="text" name="forename" ng-model="user.forename" placeholder="forename" required>
    <p ng-show="theForm.forename.$invalid && theForm.forename.$isdirty">surname is required</p>

    <input type="text" name="surname" ng-model="user.surname" placeholder="surname" required>
    <p ng-show="theForm.surname.$invalid && theForm.surname.$isdirty">surname is required</p>

    <input type="email" name="email" ng-model="user.email" placeholder="email" required>
    <p ng-show="theForm.email.$invalid && theForm.email.$dirty">Email is required</p>

    <button ng-disabled="theForm.$invalid">{{submitText()}}</button>

    <p>form state:<br>
       valid: {{theForm.$valid}}<br>
       invalid: {{theForm.$invalid}}</p>
</form>

<pre>{{user | json}}</pre>

<script>
function MyCtrl($scope){
    $scope.submitText = function (){
        if( $scope.theForm.$valid ){
            return "submit me!";
        }else{
            return "uh-oh!";
        }
    }
    $scope.user = {
        forename: "John",
        surname: "Whish",
        email: "not.my@email.com"
    }
}
</script>
</body>
</html>
